﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3  style="font-weight:bold">SERVICIO DEL CLIMA</h3>
    <hr class="hrLineWellcome" style="border-color: coral !important">
</div>

