﻿@model IEnumerable<ChallengeWeather.Core.DTOs.ZoneCardDTO>


<div class="card ReportZoneCards">
    <h3 style="color: #7278AD">Seleccioná la zona</h3>
    <hr class="inCardHrLine" style="border-color: #4661AF !important" />
    <br />
    <p class="tagPZone">Ciudad</p>
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <select class="form-select searchSelect form-select-sm" id="searchSelect" name="searchSelect">
            <option>Seleccione una ciudad</option>
            @foreach (var item in Model)
            {

                <option value="@item.City">@Html.DisplayFor(modelItem => item.City)</option>

            }
        </select>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary form-control btnSearchZoneCard" style="background-color: coral;" name="searchedCity" value="Buscar"/>
        </div>
    }

</div>