﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
.hrLineWellcome {
    color: coral !important;
    background-color: coral !important;
    border: 0;
    border-top: 2px solid #999;
    border-bottom: 2px solid #333;
    height: 0;
}


.inCardHrLine {
    color: dodgerblue !important;
    background-color: dodgerblue !important;
    border: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #333;
    height: 0;
}

.initSession {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    color: white !important;
}

* {
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.ReportZoneCards {
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.btnSearchZoneCard {
    border: none;
    font-weight: bold;
}

.tagPZone{
    text-align: left;
    font-weight: bold;
}

.tagReportP{
    color:lightslategrey;
    text-align: left;
}

.tagReportP2 {
    
    text-align: left;
}

.imgWeather{
    
    align-self:auto;
}

.generalDiv{
    display:flex;
    width: 100%;
    
}

.divPrecipitacion{
    margin-left: -90px;
    margin-top: -10px;
    text-align: right;
}

.divPrecipitacion2{
    
}

.searchSelect{
    border-radius: 5px;
    width: 510px;
    margin-bottom: 100px;
}

