﻿@model ChallengeWeather.Core.DTOs.CardDTO

<div class="card ReportZoneCards">
    <h3 style="color: #7278AD">Reporte Actual</h3>
    <hr class="inCardHrLine" style="border-color: #4661AF !important" />
    <table>
        <td>
            <p class="tagReportP" style="font-size: 20px !important;"> @Model.Name</p>
            <p class="tagReportP" style="margin-top: -10px !important;">
                @Model.Description
            </p>
            <p class="tagReportP2" style="margin-top: 10px !important; font-size: 30px !important; color: ">@Model.DateShort.ToUpper()</p>
            <p class="tagReportP2" style="margin-top: -20px !important;">@Model.Main.ToUpper()</p>
            <p class="tagReportP2" style="font-weight: bold; font-size: 40px;">
                @Model.TemperatureC<span style="font-weight: bold; font-size: 20px !important;">°F</span>
            </p>
        </td>
        <td>
            <div style="margin-bottom: 60px; margin-left: 200px !important;">
                @if (Model.Main.Equals("Clear"))
                {
                <svg id="Capa_1" enable-background="new 0 0 497 497" height="110" viewBox="0 0 497 497" width="110" xmlns="http://www.w3.org/2000/svg"><g><g fill="#ffd900"><path d="m231.933 49.7c0 9.149 7.417 16.567 16.567 16.567 9.149 0 16.567-7.417 16.567-16.567v-33.133c0-9.15-7.418-16.567-16.567-16.567-9.15 0-16.567 7.417-16.567 16.567z" /><path d="m231.933 480.433c0 9.15 7.417 16.567 16.567 16.567 9.149 0 16.567-7.417 16.567-16.567v-33.133c0-9.149-7.417-16.567-16.567-16.567s-16.567 7.417-16.567 16.567z" /><path d="m447.3 231.933c-9.149 0-16.567 7.417-16.567 16.567s7.417 16.567 16.567 16.567h33.133c9.15 0 16.567-7.417 16.567-16.567s-7.417-16.567-16.567-16.567z" /><path d="m16.567 231.933c-9.15 0-16.567 7.417-16.567 16.567s7.417 16.567 16.567 16.567h33.133c9.149 0 16.567-7.417 16.567-16.567s-7.417-16.567-16.567-16.567z" /><circle cx="248.5" cy="248.5" r="149.1" /><path d="m377.358 96.213c-6.47 6.47-6.47 16.959 0 23.429s16.959 6.47 23.429 0l23.429-23.429c6.47-6.47 6.47-16.959 0-23.429s-16.959-6.47-23.429 0z" /><path d="m72.784 400.787c-6.47 6.47-6.47 16.959 0 23.429s16.959 6.47 23.429 0l23.429-23.429c6.47-6.47 6.47-16.959 0-23.429s-16.959-6.47-23.429 0z" /><path d="m400.787 377.358c-6.47-6.47-16.959-6.47-23.429 0s-6.47 16.959 0 23.429l23.429 23.429c6.47 6.47 16.959 6.47 23.429 0s6.47-16.959 0-23.429z" /><path d="m96.213 72.784c-6.47-6.47-16.959-6.47-23.429 0s-6.47 16.959 0 23.429l23.429 23.429c6.47 6.47 16.959 6.47 23.429 0s6.47-16.959 0-23.429z" /></g><g><path d="m172.427 72.343c-2.943 0-5.736-1.743-6.932-4.632l-6.34-15.306c-1.585-3.827.232-8.214 4.059-9.799 3.827-1.583 8.214.231 9.799 4.059l6.34 15.306c1.585 3.827-.232 8.214-4.059 9.799-.938.388-1.91.573-2.867.573z" fill="#ffa400" /></g><g><path d="m330.922 454.983c-2.943 0-5.735-1.743-6.932-4.632l-6.34-15.306c-1.586-3.827.231-8.214 4.059-9.799 3.827-1.586 8.214.231 9.799 4.059l6.34 15.306c1.586 3.827-.231 8.214-4.059 9.799-.938.389-1.911.573-2.867.573z" fill="#ffa400" /></g><g><path d="m64.843 179.944c-.957 0-1.929-.184-2.867-.573l-15.306-6.34c-3.827-1.585-5.644-5.972-4.059-9.799s5.974-5.647 9.799-4.059l15.306 6.34c3.827 1.585 5.644 5.972 4.059 9.799-1.196 2.888-3.989 4.632-6.932 4.632z" fill="#ffa400" /></g><g><path d="m447.483 338.44c-.957 0-1.929-.184-2.867-.573l-15.306-6.34c-3.827-1.585-5.645-5.972-4.058-9.799 1.586-3.826 5.975-5.646 9.799-4.059l15.306 6.34c3.827 1.585 5.645 5.972 4.059 9.799-1.197 2.887-3.989 4.632-6.933 4.632z" fill="#ffa400" /></g><g><path d="m49.56 338.44c-2.943 0-5.736-1.743-6.932-4.632-1.585-3.827.233-8.214 4.059-9.799l15.306-6.34c3.826-1.584 8.214.231 9.799 4.059 1.585 3.827-.232 8.214-4.059 9.799l-15.306 6.34c-.938.388-1.91.573-2.867.573z" fill="#ffa400" /></g><g><path d="m432.2 179.944c-2.943 0-5.735-1.743-6.932-4.632-1.586-3.827.231-8.214 4.059-9.799l15.306-6.34c3.826-1.585 8.214.232 9.799 4.059 1.586 3.827-.231 8.214-4.059 9.799l-15.306 6.34c-.938.389-1.911.573-2.867.573z" fill="#ffa400" /></g><g><path d="m166.121 454.983c-.956 0-1.929-.184-2.867-.573-3.827-1.585-5.644-5.972-4.059-9.799l6.34-15.306c1.584-3.826 5.973-5.647 9.799-4.059 3.827 1.585 5.644 5.972 4.059 9.799l-6.34 15.306c-1.196 2.888-3.989 4.632-6.932 4.632z" fill="#ffa400" /></g><g><path d="m324.616 72.343c-.957 0-1.929-.184-2.867-.573-3.827-1.585-5.645-5.972-4.059-9.799l6.34-15.306c1.586-3.826 5.976-5.646 9.799-4.059 3.827 1.585 5.645 5.972 4.059 9.799l-6.34 15.306c-1.196 2.888-3.988 4.632-6.932 4.632z" fill="#ffa400" /></g><path d="m248.5 99.4c-3.87 0-7.705.148-11.5.437 76.972 5.871 137.6 70.187 137.6 148.663s-60.628 142.792-137.6 148.663c3.795.289 7.63.438 11.5.438 82.346 0 149.1-66.754 149.1-149.1s-66.754-149.101-149.1-149.101z" fill="#fb0" /><path d="m49.7 231.933h-23c9.149 0 16.567 7.417 16.567 16.567 0 9.149-7.417 16.567-16.567 16.567h23c9.149 0 16.567-7.417 16.567-16.567 0-9.149-7.418-16.567-16.567-16.567z" fill="#fb0" /><path d="m480.433 231.933h-23c9.15 0 16.567 7.417 16.567 16.567 0 9.149-7.417 16.567-16.567 16.567h23c9.15 0 16.567-7.417 16.567-16.567 0-9.149-7.417-16.567-16.567-16.567z" fill="#fb0" /><path d="m248.5 0c-4.471 0-8.52 1.779-11.5 4.657 3.119 3.013 5.067 7.231 5.067 11.91v33.133c0 4.679-1.948 8.897-5.067 11.909 2.98 2.878 7.029 4.657 11.5 4.657 9.149 0 16.567-7.417 16.567-16.567v-33.132c0-9.15-7.418-16.567-16.567-16.567z" fill="#fb0" /><path d="m248.5 430.733c-4.471 0-8.52 1.779-11.5 4.657 3.119 3.013 5.067 7.23 5.067 11.909v33.133c0 4.679-1.948 8.897-5.067 11.909 2.98 2.878 7.029 4.657 11.5 4.657 9.149 0 16.567-7.417 16.567-16.567v-33.131c0-9.15-7.418-16.567-16.567-16.567z" fill="#fb0" /><path d="m424.216 72.784c-6.401-6.401-16.73-6.458-23.214-.194.07.068.145.125.214.194 6.47 6.47 6.47 16.959 0 23.429l-23.429 23.429c-.069.069-.145.126-.214.194 6.485 6.264 16.814 6.207 23.214-.194l23.429-23.429c6.47-6.47 6.47-16.959 0-23.429z" fill="#fb0" /><path d="m424.216 400.787-23.429-23.429c-6.401-6.401-16.73-6.458-23.214-.194.07.067.145.125.214.194l23.429 23.429c6.47 6.47 6.47 16.959 0 23.429-.069.069-.145.126-.214.194 6.484 6.265 16.813 6.207 23.214-.194 6.47-6.47 6.47-16.959 0-23.429z" fill="#fb0" /><path d="m119.642 96.213-23.429-23.429c-6.393-6.393-16.703-6.457-23.189-.216.078.075.163.139.239.216l23.429 23.429c6.47 6.47 6.47 16.959 0 23.429-.077.077-.161.141-.239.216 6.486 6.241 16.797 6.176 23.189-.216 6.469-6.47 6.469-16.96 0-23.429z" fill="#fb0" /><path d="m119.642 377.358c-6.393-6.393-16.703-6.457-23.189-.216.078.075.162.139.239.216 6.47 6.47 6.47 16.959 0 23.429l-23.429 23.429c-.077.077-.161.141-.239.216 6.486 6.241 16.797 6.176 23.189-.216l23.429-23.429c6.469-6.47 6.469-16.959 0-23.429z" fill="#fb0" /></g></svg>
                }
                @if (Model.Main.Equals("Clouds"))
                {
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 511.998 511.998" style="enable-background:new 0 0 511.998 511.998; width: 110px !important; height: 110px !important;" xml:space="preserve">
                    <path style="fill:#9FDEF7;" d="M155.968,187.07h38.254c14.29-26.216,38.712-46.094,68.024-54.357
		                c-5.897-14.318-19.979-24.397-36.419-24.397c-4.11,0-8.069,0.633-11.79,1.798c0.02-0.598,0.046-1.195,0.046-1.798
		                c0-29.244-23.714-52.956-52.96-52.956c-25.223,0-46.309,17.632-51.642,41.239c-3.168-1.056-6.548-1.634-10.069-1.634
		                c-10.834,0-20.398,5.424-26.133,13.703c-3.2-0.825-6.56-1.272-10.019-1.272c-22,0-39.834,17.835-39.834,39.836
		                c0,21.997,17.835,39.836,39.834,39.836h63.687" />

                    <path style="fill:#BEEAFC;" d="M373.536,162.958c-20.468-21.893-49.607-35.578-81.941-35.578c-53.408,0-98.066,37.345-109.362,87.34
		                c-6.704-2.236-13.865-3.466-21.318-3.466c-22.947,0-43.196,11.49-55.341,29.022c-6.779-1.751-13.888-2.692-21.216-2.692
		                C37.768,237.584,0,275.352,0,321.942c0,46.588,37.768,84.361,84.358,84.361h93.011c0.196-28.675,23.489-51.858,52.206-51.858
		                c5.446,0,10.697,0.835,15.633,2.382c-0.023-0.79-0.059-1.582-0.059-2.382c0-38.787,31.442-70.23,70.228-70.23
		                c33.443,0,61.41,23.387,68.483,54.691c4.197-1.401,8.678-2.17,13.346-2.17c14.368,0,27.051,7.194,34.655,18.175
		                c4.245-1.098,8.696-1.688,13.284-1.688c19.231,0,36.057,10.279,45.295,25.637c13.396-14.793,21.557-34.414,21.557-55.94
		                c0-46.056-37.332-83.384-83.384-83.384c-8.696,0-17.08,1.333-24.963,3.803c0.041-1.263,0.096-2.529,0.096-3.803
		                c0-18.832-4.641-36.579-12.845-52.163" />

                    <path style="fill:#AEE4FF;" d="M89.442,237.74c-1.682-0.102-3.376-0.157-5.084-0.157C37.768,237.582,0,275.351,0,321.941
		                c0,46.588,37.768,84.361,84.358,84.361h93.011c0.061-8.998,2.4-17.454,6.464-24.823C137.844,346.086,103.961,295.755,89.442,237.74z
		                " />

                    <path style="fill:#83D4ED;" d="M81.614,174.026c0-27.362,4.208-53.738,11.999-78.528c-8.402,1.551-15.646,6.407-20.333,13.171
		                c-3.2-0.825-6.56-1.272-10.019-1.272c-22,0-39.834,17.835-39.834,39.836c0,21.997,17.835,39.836,39.834,39.836h18.678
		                C81.727,182.747,81.614,178.4,81.614,174.026z" />

                    <path style="fill:#E4F2F9;" d="M445.146,350.991c-4.588,0-9.041,0.588-13.284,1.688c-7.604-10.982-20.287-18.175-34.655-18.175
		                c-4.668,0-9.149,0.769-13.346,2.17c-7.074-31.305-35.04-54.691-68.483-54.691c-38.786,0-70.228,31.443-70.228,70.23
		                c0,0.8,0.035,1.592,0.059,2.382c-4.936-1.547-10.187-2.382-15.633-2.382c-28.835,0-52.212,23.373-52.212,52.216
		                c0,28.835,23.378,52.21,52.212,52.21h156.329h29.013h30.23c29.175,0,52.827-23.651,52.827-52.824
		                C497.973,374.64,474.321,350.991,445.146,350.991z" />

                    <path style="fill:#D7EDF9;" d="M285.258,337.525c0-18.847,4-36.758,11.185-52.941c-29.585,8.267-51.295,35.403-51.295,67.627
		                c0,0.8,0.035,1.592,0.059,2.382c-4.936-1.547-10.187-2.382-15.633-2.382c-28.835,0-52.212,23.373-52.212,52.216
		                c0,28.835,23.378,52.21,52.212,52.21h132.677C316.86,436.184,285.258,390.545,285.258,337.525z" />
                </svg>

                }
                @if (Model.Main.Equals("Snow"))
                {
                    <svg id="Layer_3" enable-background="new 0 0 64 64" height="110" viewBox="0 0 64 64" width="110" xmlns="http://www.w3.org/2000/svg"><g><path d="m35 33v-2.382l2.553 1.276.895-1.789-2.459-1.229 1.566-1.044-1.109-1.664-2.517 1.678-1.851-.926 3.438-2.063-1.029-1.715-4.529 2.717-1.879-.94 3.438-2.063c.298-.179.483-.505.483-.856s-.185-.677-.485-.857l-3.438-2.063 1.879-.94 4.529 2.717 1.029-1.715-3.438-2.063 1.851-.926 2.517 1.678 1.109-1.664-1.566-1.044 2.459-1.229-.895-1.789-2.551 1.277v-2.382h-2v3.382l-2 1v-4.382h-2v5.382l-2 1v-5.382c0-.369-.203-.708-.528-.882-.323-.174-.721-.154-1.026.05l-4.446 2.964v-2.663l5.641-4.701-1.281-1.536-4.36 3.633v-2.451l2.707-2.707-1.414-1.414-1.293 1.293v-1.586h-2v1.586l-1.293-1.293-1.414 1.414 2.707 2.707v2.451l-4.359-3.633-1.281 1.536 5.64 4.701v2.663l-4.445-2.964c-.307-.205-.702-.224-1.026-.05-.326.174-.529.513-.529.882v5.382l-2-1v-5.382h-2v4.382l-2-1v-3.382h-2v2.382l-2.553-1.276-.895 1.789 2.459 1.229-1.566 1.044 1.109 1.664 2.517-1.678 1.851.926-3.438 2.063 1.029 1.715 4.529-2.717 1.879.94-3.438 2.063c-.298.179-.483.505-.483.856s.185.677.485.857l3.438 2.063-1.879.94-4.529-2.717-1.029 1.715 3.438 2.063-1.851.926-2.517-1.678-1.109 1.664 1.566 1.044-2.459 1.229.895 1.789 2.551-1.277v2.382h2v-3.382l2-1v4.382h2v-5.382l2-1v5.382c0 .369.203.708.528.882.324.173.72.154 1.026-.05l4.446-2.964v2.663l-5.641 4.701 1.281 1.536 4.36-3.633v2.451l-2.707 2.707 1.414 1.414 1.293-1.293v1.586h2v-1.586l1.293 1.293 1.414-1.414-2.707-2.707v-2.451l4.359 3.633 1.281-1.536-5.64-4.701v-2.663l4.445 2.964c.167.112.361.168.555.168.162 0 .324-.039.472-.118.325-.174.528-.513.528-.882v-5.382l2 1v5.382h2v-4.382l2 1v3.382zm-5.943-11-3.1 1.86-3.721-1.86 3.72-1.86zm-4.057-8.131v4.513l-4 2v-3.847zm-10 0 4 2.667v3.847l-4-2zm-4.057 8.131 3.1-1.86 3.72 1.86-3.72 1.86zm4.057 8.131v-4.513l4-2v3.847zm10 0-4-2.667v-3.847l4 2z" /><path d="m61.555 49.832-1.109-1.664-2.81 1.874-2.413-1.034 2.226-1.113c.337-.17.551-.516.551-.895s-.214-.725-.553-.895l-2.226-1.113 2.413-1.034 2.81 1.874 1.109-1.664-1.725-1.15 2.564-1.099-.787-1.838-2.605 1.117v-2.198h-2v3.055l-3 1.286v-3.341c0-.332-.165-.642-.439-.828-.275-.187-.626-.224-.932-.101l-3.629 1.452v-2.905l3.447-1.724-.895-1.789-2.552 1.277v-3.382h-2v3.382l-2.553-1.276-.895 1.789 3.448 1.723v2.905l-3.629-1.452c-.305-.122-.655-.085-.932.101-.274.186-.439.496-.439.828v3.341l-3-1.286v-3.055h-2v2.198l-2.606-1.117-.787 1.838 2.564 1.099-1.725 1.15 1.109 1.664 2.81-1.874 2.413 1.034-2.226 1.113c-.338.17-.552.516-.552.895s.214.725.553.895l2.226 1.113-2.413 1.034-2.81-1.874-1.109 1.664 1.725 1.15-2.564 1.099.787 1.838 2.605-1.117v2.198h2v-3.055l3-1.286v3.341c0 .332.165.642.439.828.168.114.364.172.561.172.126 0 .252-.023.371-.071l3.629-1.452v2.905l-3.447 1.724.895 1.789 2.552-1.277v3.382h2v-3.382l2.553 1.276.895-1.789-3.448-1.723v-2.905l3.629 1.452c.119.048.245.071.371.071.197 0 .393-.058.561-.172.274-.186.439-.496.439-.828v-3.341l3 1.286v3.055h2v-2.198l2.606 1.117.787-1.838-2.564-1.099zm-6.791-2.832-1.95.975-2.276-.975 2.275-.975zm-2.764-5.523v2.721l-3 1.286v-2.807zm-8 0 3 1.2v2.807l-3-1.286zm-2.764 5.523 1.95-.975 2.276.975-2.275.975zm2.764 5.523v-2.721l3-1.286v2.807zm8 0-3-1.2v-2.807l3 1.286z" /><path d="m46.343 16.243 1.414 1.414 3.243-3.243v4.586h2v-4.586l3.243 3.243 1.414-1.414-3.243-3.243h4.586v-2h-4.586l3.243-3.243-1.414-1.414-3.243 3.243v-4.586h-2v4.586l-3.243-3.243-1.414 1.414 3.243 3.243h-4.586v2h4.586z" /><path d="m17.657 47.757-1.414-1.414-3.243 3.243v-4.586h-2v4.586l-3.243-3.243-1.414 1.414 3.243 3.243h-4.586v2h4.586l-3.243 3.243 1.414 1.414 3.243-3.243v4.586h2v-4.586l3.243 3.243 1.414-1.414-3.243-3.243h4.586v-2h-4.586z" /><circle cx="42" cy="22" r="2" /><circle cx="57" cy="32" r="2" /><circle cx="27" cy="52" r="2" /><circle cx="7" cy="39" r="2" /></g></svg>
                }
                @if (Model.Main.Equals("Rain"))
                {
                    <svg id="Layer_1" enable-background="new 0 0 512 512" height="110" viewBox="0 0 512 512" width="110" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m67.913 422.464c-46.038 43.069-34.52 82.036 0 82.036s46.038-38.967 0-82.036z" fill="#81ebeb" /><path d="m156.957 354.489c-27.345 25.582-20.503 48.727 0 48.727s27.344-23.146 0-48.727z" fill="#00cec8" /><path d="m444.087 422.464c46.038 43.069 34.52 82.036 0 82.036s-46.038-38.967 0-82.036z" fill="#81ebeb" /><path d="m256 408.841c53.682 50.221 40.252 95.659 0 95.659s-53.682-45.438 0-95.659z" fill="#81ebeb" /><path d="m357.043 364.485c33.594 31.428 25.189 59.863 0 59.863s-33.594-28.435 0-59.863z" fill="#00cec8" /></g><path d="m468.56 204.65c0 8.39-1.11 16.51-3.19 24.24l-27.8 6.38-271.74 62.32h-65.36c-51.34 0-92.97-41.61-92.97-92.94 0-44.68 31.55-81.99 73.59-90.91 4.37-32.8 21.72-61.51 46.71-80.79 20.7-15.95 46.65-25.45 74.82-25.45 42.95 0 80.73 22.08 102.63 55.49 7.35-2.36 15.18-3.66 23.32-3.66 35.13 0 64.67 23.83 73.39 56.18 38.5 11.37 66.6 46.97 66.6 89.14z" fill="#eef0f5" /><path d="m468.56 204.65c0 8.39-1.11 16.51-3.19 24.24l-27.8 6.38c.65-4.44.99-8.99.99-13.62 0-42.17-28.1-77.77-66.6-89.14-8.72-32.35-38.26-56.18-73.39-56.18-8.14 0-15.97 1.3-23.32 3.66-21.9-33.41-59.68-55.49-102.63-55.49-15.82 0-30.94 3-44.82 8.45 20.7-15.95 46.65-25.45 74.82-25.45 42.95 0 80.73 22.08 102.63 55.49 7.35-2.36 15.18-3.66 23.32-3.66 35.13 0 64.67 23.83 73.39 56.18 38.5 11.37 66.6 46.97 66.6 89.14z" fill="#dae1ea" /><path d="m504.5 266.21c0 18.12-8.11 34.34-20.91 45.23-10.37 8.85-23.82 14.18-38.52 14.18-20.66 0-38.86-10.54-49.51-26.53-16.16 16.37-38.6 26.53-63.43 26.53-16.73 0-32.37-4.62-45.75-12.63-11.15 7.94-24.78 12.63-39.51 12.63-37.64 0-68.16-30.51-68.16-68.14 0-37.62 30.52-68.13 68.16-68.13 3.15 0 6.24.23 9.28.65 15.67-25.52 43.84-42.54 75.98-42.54 41.15 0 75.76 27.89 86.01 65.78 8.09-4.11 17.23-6.45 26.93-6.45 32.82 0 59.43 26.6 59.43 59.42z" fill="#dae1ea" /><path d="m504.5 266.21c0 18.12-8.11 34.34-20.91 45.23 2.53-6.59 3.91-13.75 3.91-21.23 0-32.82-26.61-59.42-59.43-59.42-9.7 0-18.84 2.34-26.93 6.45-10.25-37.89-44.86-65.78-86.01-65.78-32.85 0-47.12 12.7-58.98 18.54 15.67-25.52 43.84-42.54 75.98-42.54 41.15 0 75.76 27.89 86.01 65.78 8.09-4.11 17.23-6.45 26.93-6.45 32.82 0 59.43 26.6 59.43 59.42z" fill="#b9cfdf" /></g><g><path d="m15 204.652c0-40.116 28.45-75.263 67.647-83.572 3.105-.658 5.46-3.201 5.879-6.347 1.841-13.827 6.139-27.057 12.775-39.323 1.971-3.643.615-8.194-3.028-10.166-3.644-1.972-8.194-.615-10.166 3.028-6.683 12.353-11.269 25.568-13.665 39.356-20.165 5.407-38.376 17.134-51.714 33.4-14.656 17.876-22.728 40.472-22.728 63.624 0 18.625 5.14 36.813 14.863 52.597 1.417 2.3 3.876 3.567 6.393 3.567 1.342 0 2.7-.36 3.926-1.115 3.527-2.173 4.625-6.793 2.452-10.319-8.265-13.417-12.634-28.884-12.634-44.73z" /><path d="m100.472 275.101c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5c-30.587 0-55.472-24.874-55.472-55.448 0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5c0 38.845 31.614 70.448 70.472 70.448z" /><path d="m476.038 206.899c.017-.75.025-1.499.025-2.246 0-22.111-7.05-43.085-20.389-60.655-12.064-15.891-28.869-28.002-47.651-34.422-11.072-34.201-43.164-57.74-79.452-57.74-6.827 0-13.595.83-20.189 2.471-24.457-34.108-63.589-54.307-105.764-54.307-34.876 0-67.631 13.612-92.23 38.329-2.922 2.936-2.911 7.685.025 10.606 2.936 2.922 7.685 2.911 10.606-.025 21.764-21.867 50.743-33.91 81.599-33.91 38.955 0 74.976 19.478 96.356 52.104 1.85 2.823 5.356 4.064 8.571 3.028 6.797-2.188 13.872-3.298 21.025-3.298 30.915 0 58.117 20.82 66.15 50.632.679 2.518 2.617 4.503 5.118 5.242 17.32 5.113 32.906 15.895 43.887 30.359 10.647 14.025 16.582 30.604 17.269 48.142-5.107-1.251-10.442-1.915-15.93-1.915-7.7 0-15.167 1.278-22.292 3.809-2.977-8.072-7.023-15.698-12.083-22.758-2.413-3.367-7.098-4.14-10.465-1.727s-4.14 7.099-1.727 10.465c5.692 7.941 9.865 16.729 12.405 26.12.589 2.181 2.131 3.979 4.196 4.896 2.063.917 4.432.854 6.446-.17 7.345-3.739 15.258-5.634 23.521-5.634 28.637 0 51.935 23.288 51.935 51.913s-23.298 51.913-51.935 51.913c-17.416 0-33.587-8.669-43.259-23.19-1.25-1.877-3.28-3.093-5.526-3.308-2.246-.219-4.469.592-6.054 2.198-15.464 15.67-36.097 24.301-58.095 24.301-14.781 0-29.268-4-41.894-11.566-2.557-1.533-5.779-1.405-8.208.325-10.319 7.354-22.477 11.241-35.159 11.241-33.448 0-60.66-27.201-60.66-60.635s27.212-60.635 60.66-60.635c2.675 0 5.457.194 8.269.577 2.944.397 5.846-.974 7.401-3.505 14.987-24.394 41.003-38.958 69.591-38.958 14.87 0 29.419 4.035 42.075 11.669 3.548 2.141 8.157.998 10.296-2.549s.998-8.156-2.549-10.296c-14.994-9.044-32.222-13.824-49.822-13.824-32.243 0-61.719 15.647-79.772 42.094-1.853-.138-3.687-.208-5.489-.208-41.719 0-75.66 33.93-75.66 75.635 0 11.668 2.657 22.727 7.397 32.605h-78.134c-18.02 0-35.25-5.537-49.83-16.013-3.363-2.417-8.05-1.649-10.467 1.714-2.417 3.364-1.649 8.05 1.714 10.467 17.146 12.32 37.403 18.832 58.583 18.832h87.644c13.884 17.09 35.064 28.03 58.753 28.03 14.198 0 27.869-3.906 39.831-11.338 13.935 7.431 29.54 11.338 45.431 11.338 23.169 0 45.057-8.085 62.495-22.931 12.634 14.492 30.931 22.931 50.44 22.931 36.908 0 66.935-30.017 66.935-66.913-.002-25.733-14.607-48.119-35.964-59.31z" /><path d="m73.037 416.986c-2.884-2.697-7.364-2.697-10.248 0-27.053 25.31-38.337 52.747-30.185 73.396 5.345 13.536 18.544 21.618 35.309 21.618s29.964-8.082 35.309-21.618c8.153-20.649-3.132-48.086-30.185-73.396zm16.233 67.888c-3.088 7.819-10.672 12.126-21.357 12.126s-18.269-4.307-21.356-12.126c-4.175-10.575-.471-29.445 21.356-51.911 21.828 22.465 25.532 41.336 21.357 51.911z" /><path d="m162.08 349.012c-2.883-2.697-7.364-2.697-10.247 0-17.017 15.919-24 33.466-18.681 46.937 3.651 9.247 12.55 14.767 23.805 14.767s20.153-5.521 23.805-14.767c5.318-13.471-1.665-31.018-18.682-46.937zm4.729 41.428c-1.813 4.59-6.951 5.276-9.853 5.276s-8.04-.686-9.853-5.276c-1.903-4.819-.183-13.99 9.853-25.247 10.036 11.257 11.756 20.428 9.853 25.247z" /><path d="m449.211 416.986c-2.884-2.697-7.364-2.697-10.248 0-27.053 25.31-38.337 52.747-30.185 73.396 5.345 13.536 18.544 21.618 35.309 21.618s29.964-8.082 35.309-21.618c8.152-20.649-3.132-48.086-30.185-73.396zm16.232 67.888c-3.087 7.82-10.672 12.126-21.356 12.126s-18.269-4.307-21.356-12.126c-4.175-10.575-.471-29.445 21.356-51.911 21.828 22.465 25.532 41.336 21.356 51.911z" /><path d="m261.124 403.364c-2.882-2.696-7.363-2.697-10.247 0-10.377 9.708-18.805 19.686-25.048 29.657-2.198 3.511-1.135 8.139 2.376 10.337 3.511 2.199 8.14 1.135 10.337-2.376 4.511-7.204 10.369-14.474 17.461-21.675 26.649 27.024 31.128 49.928 26.06 62.765-3.748 9.487-13.247 14.928-26.063 14.928-9.339 0-16.87-2.795-21.779-8.082-4.546-4.896-6.628-11.8-6.021-19.964.307-4.131-2.793-7.728-6.924-8.035-4.125-.308-7.728 2.793-8.035 6.924-.924 12.432 2.53 23.25 9.988 31.282 7.709 8.302 19.347 12.875 32.771 12.875 19.018 0 33.976-9.129 40.013-24.419 9.312-23.584-3.731-55.067-34.889-84.217z" /><path d="m362.167 359.008c-2.883-2.697-7.364-2.697-10.247 0-20.372 19.058-28.793 39.911-22.527 55.782 4.217 10.681 14.554 17.058 27.65 17.058s23.434-6.376 27.65-17.058c6.267-15.871-2.154-36.724-22.526-55.782zm8.575 50.274c-2.599 6.583-9.698 7.566-13.699 7.566s-11.1-.983-13.699-7.566c-3.934-9.963 4.087-23.616 13.699-34.134 9.612 10.518 17.633 24.17 13.699 34.134z" /></g></svg>
                }
            </div>
            <div class="divPrecipitacion">
                <p>Presion: @Model.Pressure</p>
                <p>Humedad: @Model.Humidity</p>
            </div>
        </td>
    </table>
</div>